.App {
  height: 100vh;
  width: 100vw;
  background-color: #E99D72;
  border-radius: 30px;
  display: flex;
  }
/*   
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
/*   
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  /* .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

  .screen-container {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #1e2a3e;
    border-radius: 30px;
    background-color: #1e2a3e;
    opacity: 1;
    background-image: repeating-radial-gradient(
        circle at center left,
        transparent 0,
        #233656 100px
      ),
      repeating-linear-gradient(#1e2a3e55, #1e2a3e);
  }
  
  .flex {
    display: flex;
  }